.btnAdd{
    background-color: #009247 !important;
    color: white !important;
}

.conImg{
    width: 15%;
}

.imgrec{
    width: 40%;
    border-radius: 10%;
}


.btnCursor{
    cursor: pointer;
    color: #1F263E;
}

.iconHeart{
    font-size: 1.7rem;
}


/* RecipesData  */

.inputs{

    background-color: #F7F7F7 !important;
}

.btnYellow {
    background-color: yellow !important;
    color: black !important; 
  }


  .PriceEGP {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    cursor: pointer;
  
  }
  
 

  /*  */


