:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
 
}

.AuthContainer{
  background-image: url(../src/imgs/ella-olsson-C1Q3qOTlegg-unsplash\ 1.png) !important;
  background-size: cover;
  height: 100vh;
  background-position: center center;
  text-transform: capitalize;
  
}

.AuthLayer{
  background: linear-gradient(45deg ,rgba(47,140,96,0.4), rgba(0,0,0,0.4)) !important;
  width: 100%;
}

a{
  text-decoration: none;
}

/* side bar */
.sidebarCon .ps-sidebar-container  {
  background-color: #1F263E!important;
  color: white;
  /* height: 100% !important; */
  }

  /* .css-dip3t8 {
    position: fixed !important;
  } */

.sidebarCon .ps-sidebar-container .ps-menu-button:hover{

  background-color: rgba(0, 176, 77, 0.3);
  
 }

 .sidebarCon .ps-sidebar-container .MenImg{
  background-color: #1F263E!important;
  display: flex;
justify-content: center;
 }

.sidebarCon .ps-sidebar-container .hideHover:hover{
  background-color: #1F263E!important;

  
 }

 .sidebarCon .ps-sidebar-container {
  border-top-right-radius:5rem !important;
 }

 .ps-sidebar-root {
  border-top-right-radius: 5rem !important;
 }


 .sidebar-container{
  height: 100% !important;
 }


 .css-1wvake5{
  height: 100% !important;

 }
  .sidebar-container {
  height: 100% !important;
  position: fixed;
  left: 0;
  top: 0; }

/* side bar */

 /* login */


.fa-eye {
  position: absolute;
  top: 50%;
  right: 10px; 
  transform: translateY(-50%);
  cursor: pointer;

}

.fa-regular , .fa-eye-slash{

  position: absolute;
  top: 50%;
  right: 10px; 
  transform: translateY(-50%);
  cursor: pointer;
}


/* end login */

.input-wrapper {
  position: relative;
}



/* Modal */
.modal-header{
  border-bottom:none !important;
}

.btn-update ,.btn-update:hover {
  background-color: rgb(255,193,7);
  color: black;
}

.btn-add ,.btn-add:hover {
  background-color: #009247 !important;
  color: white;
}

/* table in Categories*/

.table {

  --bs-table-bg:none !important;
  padding: none !important;
  margin-bottom: 0rem;
  line-height :5rem;
}

.tableActive{
  background-color: #E2E5EB;

  padding-top: 2rem;
}

tbody, td, tfoot, th, thead, tr {
  border-color: none;
   border-style: none;

}

/* end table */

/* dropdown-menu  at Recipes */

.dropdown-menu {
  --bs-dropdown-min-width: 0rem !important;
  width: 10rem !important;
}

.dropdown-item {

  height: 4rem !important;
}


/* Recipes */

.dropdown-item.active, .dropdown-item:active{
  background-color: #dfe4ed !important;
}


/* favorites  */

.card-img, .card-img-top{
height: 18rem
}

.imgFav{
  height: 18rem

}

.materLayout{
  width: 20rem;
}

@media (min-width: 200px) and (max-width: 800px) {

.ps-sidebar-root{
  width: 80px !important;
    min-width: 80px !important;
}

.sidebarCon .ps-sidebar-container{
  
  border-top-right-radius:0rem !important;
}

}

/* pagination */


.active>.page-link, .page-link.active {
  z-index: 3;
  color: var(--bs-pagination-active-color);
  background-color: #83878b;
  border-color: 83878b;
}

.page-link ,.page-link:hover{
  color: #009247;
}